<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" id = "logo" href="#">
    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQsAAAC9CAMAAACTb6i8AAAAY1BMVEX///8iICEAAABramsXFRbu7u6goKC9vb0bGRoQDQ8LBgkTEBKBgIGpqa
    lYWFjLy8vd3d3X19eOjY3R0dGxsbFwcHDFxcVQUFDm5uaHh4cmJiaZmZk5OTkxMTF6eXpdXV1FRUVfE8KTAAAGL0lEQVR4nO2c55qyOhRGJYCEIkWljIhy/1d5SCjSbRDid971Zx5gS8Iy
    OwmBcbcDAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgEB0PfGMwz49Hp1bqK5HqLPS9rMx92AzDX6UhnFmEUIsyzRN29ZWw6I+KzElc0HkvJEII8xMYmqUKgKgNClVzAVtpM
    JQCdGEWOBQRVYV+v5KNFEaGPTiS6rioFjiWgSDarxV7KVT4WWzVVoBaRPEIWLbRJMg0rUKP7dEKaiRNUHOwhuFtIOpI7qnkDdB7huo0KRUoV9NUQYaqgSRTYWfCZ1dcSRNEF/MbUcHSRPk
    JH4AkXUw9cwNVMiZIJ7g+w8GpXKqeGUspVTTbNs0TWsRiC1lgkTPpt2aSYiSu2p4+zumabpfglTKVvFEBSXknkaJvkbR0qmYrY9GYmO1omVTYczX5356hOpJkviBF0WR8SXR76nQzKpN6F
    4aunlG2YL4EgQ/p4K4vJPQD7lJrOWWw6n5yghykEvFkZtwyLJTUqq8MoJIpoJX56wsvM712hRLMhW8q1CXvk35wQShlldEJIuvaEiaIOc5FTZTEShLr2hIqmK2VVA26AWL38ZTi6s4SKZi
    tlXwb89bXoWcrWJOhcbXFU42VChaxnr65de5fjBBtEznKhY2IWurmPtq7CtT4SFBChV52Sr+JwkyVx8zZxEvLfm9p0LOifesipirQIIoiuWyiNkEobRc/30Li/xcglh3FjGTIBqxr7EaOn
    /H9/j7ORVE5SomE4QS95ysU7ScKk6TD41sxVuraOlUhCxiOkEsdbWipVNxYxHTCVIeX6VoOVVMJ8g/pmJucCcOi5i+SS+Pf8xPqfhjEdOvHfxjKmYThK/9I0FYbVIWMZMg/5oK056iVBFN
    RnyZIHNFFycXriIInWl4bfTb5PH0q6L9uaIdZ6v/EgIAAADAt+jjbFOR1yNXqeTf6PtjpnAZOiv29DyO3RFUKPevVtOGjLsgEruIWtVc9vXS33ZBFq0DdzF4aKFJ7MIj1YOV5mXQpWAulA
    26yj6vu6g5L54kT1zo3r58ppOe/f6hVm/e9Oq9Dr7f4Q+6/8cZGhevjmiBWBeB2s7N6/5xRE/dS7Wb3Vtnxd/DTj9ey12ZU/6LbV51+G5d5X2xpbVLuBU7+BOFxoVHOmh5ODFaiHUx6Fcv
    ddvw6WMnc8EcHPRLKzTa6VlrMy4/x1xc2kU4z1ww3NHaCXVxG9aKVDLal9m4yDuRSdjZzPnnPnNRm+wi0oXBq+FEfonB8yXjh+phLStQWHWYi+K4wnZUnlx22a1t3tJfcBGoYYtb+Pjwhi
    6yVjvg8I6b9xkp/6Zbx3g/ca+fLpcWiVOdVufh/IpfcNElictTjdRPoAtvWFRYNwx2BZ3pGHOhPDb3vGGMfPBdF04nw7qs44J6QQ+9/O7triSuh335Iel1aNfud+ezwNbabVS7e89FpNQd
    hrIbso6LIUURbv96q/qyS2QuwvYR3nf2AqPH9qlOt3dc6OWAfmchdKTmAl1c6lq2ald3GO+6CD5wceAVMQ3eQDd2YY64YPvYM5H1XQTlAO1UySrOhRX3yIsxjIy4sES5OHITF74t1sVYz7
    SlC0/jKqqncoJdjI2p27koG0Vcz1b2/2MX5UzzMSJL4MLeyAWfp8WtGknggk3B791d34+ph+cuuIp2iAQu2Ewn7+5K6kv82MW531MPXJx6H5XCBZ/rJMNdLPZjF1H/pAMXRh3aIIEL3gi6
    94dN2nzsgp+0/QbLuIvOayiHCRe+OBe7e6/eCbtDKVcSPnbBZ7NEjbyKk9p3wa/Q2nsNp979iF7v5600PZVbi6xeT7vgtSoaAvvllzS9lZPi8l21z12Udxldun3n6E9H0N65BizyBG1mjc
    8YFlkNLJ+72MXPXETDAFEuWAucejLkXXol1gvhIenNPbJ5F809+66eSk272Bn28FLNx7lWdLGPXVedzDaj9TXmhyYsjd342I4LXbf90zm6W2y3bsD9vNiuh4/kcHPblGfSi3rEla4oVd0u
    rYmOH7tDYjG/kp4Ep4Lgi/+UAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADAUvwHn1uNaXF/NPUAAAAASUVORK5CYII=">Stats</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
    </ul>
    <span class="navbar-text">
      Navbar text with an inline element
    </span>
  </div>
</nav>
